<!DOCTYPE html>

<Header>
  <h1> Kevs Lovely TinyApp </h1>
  <% if (user) { %>
    <form action="/urls/logout" method="POST">
      <p style="font-size:20px"> Logged in as <%= user.email %> </p>
      <input type="submit" value="Logout">
      <a href = "/urls/new" style="font-size:20px"> Shorten a New URL!!! </a>
    </form>
  <% } else { %>
    <h2>Hello,
    If you already have an account please <a href="/urls/login"> Log in </a> to access tiny url

    If not click here to <a href ="/register"> Register </a>
   </h2>
  <%  } %>
</header>

