<head>
    <meta charset="utf-8">
    <title>TinyApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 30px;
            style="font-size:15px; padding:50px;"
        }
        .jumbotron {
          margin-top: 10px;
        }

    </style>
</head>