<div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">

              <% if (user) { %>
              <li role="presentation"> Logged in as <%= user.email %> </li
              <li role="presentation">
                <form action="/logout" method="POST">
                  <input type="submit" value="Logout">
                </form>
                <li role="presentation"><a href="/urls">My Urls</a></li>
              <% } else { %>
                <li role="presentation"><a href="/urls/login">Login</a></li>
                <li role="presentation"><a href="/register">Register</a></li>
              <% } %>
            </ul>
            <h3 style="padding-left:50px;" class="text-muted">Kevs TinyApp</h3>
        </nav>
    </div>