<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head%>
  </head>

  <header>
    <% include ./partials/_header %>
  </header>
  <h2>List of Urls </h2>
  <body>
        <% for (var key in urls) { %>
    <li> <b> url: </b> <%=  urls[key] %> <b> key: </b> <%= key %> </li>
    <% } %>


    <footer>
      <p><% include ./partials/_footer%></p>
    </footer>
  </body>
</html>