<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head%>
  </head>

  <header>
    <% include ./partials/_header %>
  </header>
  <h2>List of Urls </h2>
  <body>
        <% for (var key in urls) { %>
    <li> <b> url: </b> <%=  urls[key] %> <b> key: </b> <%= key %> </li>
    <form method="POST" action="/urls/<%= key%>/delete">
      <button type ="submit"> Delete!<img src ="https://openclipart.org/download/226230/trash.svg" width = "8" height = "10"></button>
    </form>
    <% } %>


    <footer>
      <p><% include ./partials/_footer%></p>
    </footer>
  </body>
</html>