<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head%>
  </head>
  <header>
    <% include ./partials/_header %>
  </header>
  <body>

    <li> long url: <%=  fullUrl %> </li>

    <li> short url: <%=  shortUrl %> </li>


    <footer>
      <p><% include ./partials/_footer%></p>
    </footer>
  </body>
</html>