<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <header>
    <% include ./partials/_header %>
  </header>
  <h1>Original URL </h1>
  <body>
        <% for (var key in urls) { %>
    <li> <b> url: </b> <%=  urls[key] %> <b> key: </b> <%= key %> </li>
    <% } %>
    <p>Go back to <a href="/">home page</a></p>

    <footer>
      <p>Current date and time is <%= new Date() %></p>
    </footer>
  </body>
</html>