<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_head%>
  </head>
  <header>
    <% include ./partials/navbar%>
  </header>
  <body>

    <li> Current long url: <%=  fullUrl.longUrl %> </li>
    <li> Current short url: <%=  shortUrl %> </li>
    <li> <a href ="/u/<%=shortUrl%>"> Visit Website </a> </li>

    <form action="/urls/<%= shortUrl %>/update" method="POST">
    <input name="updateURL" value="">
    <input type="submit" value="Update!">

  </form>

    <footer>
      <p><% include ./partials/_footer%></p>
    </footer>
  </body>
</html>