<!DOCTYPE html>

<html lang="en">
  <head>
    <% include ./partials/_head%>
  </head>

  <header>
    <h1> Kevs Lovely TinyApp </h1>
  </header>

  <body>
    <h2>Hello and welcome to TinyApp the Url shortening service of your dreams!</h2>
    <h2>
      If you already have an account please <a href="/urls/login"> Log in </a> to access tiny url
      If not click here to <a href ="/register"> Register </a>
    </h2>
    <footer>
      <p>Current date and time is <%= new Date() %></p>
    </footer>

  </body>
</html>